<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for post in posts %}
    <div class="post-item">
         <h2><a href="{% url 'project3:post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.content|truncatechars:100 }}</p>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" style="width: 100px; height: 100px;">
        {% endif %}
        <p>تاریخ انتشار: {{ post.published_date }}</p>
    </div>
{% endfor %}

</body>
</html>